<div id="referrals_program_statistics" class="ui three grid center aligned horizontal segment">
    <div class="row">
        <div class="five wide column ui segment">
            <div class="card-body">
                <h5>{{ 'odiseo_sylius_referrals_plugin.ui.max_views'|trans }}</h5>
                <p><small class="text-muted">{{ 'odiseo_sylius_referrals_plugin.ui.max_views_description'|trans }}</small></p>
                <h2>
                    {{ maxViewsReferredPage }}
                </h2>
                <h5>
                    {% if maxProductReferredPage %}
                        <a href="{{ path('sylius_shop_product_show', { slug: maxProductReferredPage.slug }) }}">{{ maxProductReferredPage.name }}</a>
                    {% else %}
                        -
                    {% endif %}
                </h5>
            </div>
        </div>
        <div class="five wide column ui segment">
            <div class="card-body">
                <h5>{{ 'odiseo_sylius_referrals_plugin.ui.month_referrals'|trans }}</h5>
                <p><small class="text-muted">{{ 'odiseo_sylius_referrals_plugin.ui.month_referrals_description'|trans }}</small></p>
                <h2>{{ monthReferrals }}</h2>
            </div>
        </div>
        <div class="five wide column ui segment">
            <div class="card-body">
                <h5>{{ 'odiseo_sylius_referrals_plugin.ui.average'|trans }}</h5>
                <p><small class="text-muted">{{ 'odiseo_sylius_referrals_plugin.ui.average_description'|trans }}</small></p>
                <h2 class="card-text p-0">{{ average }} %</h2>
            </div>
        </div>
    </div>
</div>
