{% if app.user %}
    <button
        class="ui secondary icon labeled button"
        type="button"
        data-share-link-btn
        data-href="{{ path('odiseo_sylius_referrals_plugin_shop_partial_affiliate_create_from_product', { 'id': product.id }) }}"
        data-csrf="{{ csrf_token('affiliate_' ~ product.slug) }}">
        <i class="alternate share icon"></i>
        {{ 'odiseo_sylius_referrals_plugin.ui.share_link'|trans }}
    </button>
{% else %}
    <p><a href="{{ path('sylius_shop_login') }}">{{ 'odiseo_sylius_referrals_plugin.ui.you_must_be_identified_to_share_link'|trans }}</a></p>
{% endif %}

<script type="text/javascript">
    if (document.querySelectorAll('[data-share-link-btn]')) {
        document.querySelectorAll('[data-share-link-btn]').forEach((element) => {
            element.addEventListener('click', function() {
                const text = element.innerHTML;

                if (this.dataset.copied) {
                    return copyAndReset(this, this.innerHTML, this.dataset.copied);
                }

                this.setAttribute('disabled', 'disabled');
                this.classList.add('loading');

                $.ajax({
                    type: 'POST',
                    url: this.dataset.href,
                    context: this,
                    dataType: 'html',
                    error() {
                        this.removeAttribute('disabled');
                        document.getElementById('sylius-cart-validation-error').innerText = 'Error!';
                        document.getElementById('sylius-cart-validation-error').classList.remove('d-none');
                        this.classList.remove('loading');
                    },
                    success(JSONResponse) {
                        let response = JSON.parse(JSONResponse);
                        if (typeof response === 'object') {
                            this.dataset.copied = response.link;

                            copyAndReset(this, text, response.link);

                            this.removeAttribute('disabled');
                        } else {
                            window.location.replace(response.responseURL);
                        }

                        this.classList.remove('loading');
                    },
                });
            });
        });

        function copyAndReset(element, text, link) {
            element.innerHTML = 'Copied to clipboard';

            setTimeout(() => {
                element.innerHTML = text;
            }, 2000);

            navigator.clipboard.writeText(link);
        }
    }
</script>
