{% extends '@SyliusCore/Email/layout.html.twig' %}

{% block subject %}
    {{ 'odiseo_sylius_referrals_plugin.email.shop.promotion_reward.subject'|trans({}, null, localeCode) }}
{% endblock %}

{% block content %}
    {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('odiseo_sylius_referrals_plugin_shop_account_affiliate_index') : url('odiseo_sylius_referrals_plugin_shop_account_affiliate_index') %}
    <div style="text-align: center; margin-bottom: 30px;">
        {{ 'odiseo_sylius_referrals_plugin.email.shop.promotion_reward.the_coupon'|trans({}, null, localeCode) }}
        <div style="margin: 10px 0;">
            <span style="border: 1px solid #eee; padding: 10px; color: #1abb9c; font-size: 28px;">
                {{ coupon.code }}
            </span>
        </div>
        {{ 'odiseo_sylius_referrals_plugin.email.shop.promotion_reward.has_been_created'|trans({}, null, localeCode) }}
    </div>

    <div style="text-align: center;">
        <a href="{{ url|raw }}" style="display: inline-block; text-align: center; background: #1abb9c; padding: 18px 28px; color: #fff; text-decoration: none; border-radius: 3px;">
            {{ 'odiseo_sylius_referrals_plugin.email.shop.promotion_reward.follow_link'|trans({}, null, localeCode) }}
        </a>
    </div>
{% endblock %}
